<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>HomeController</servlet-name>
        <servlet-class>controller.HomeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailsController</servlet-name>
        <servlet-class>controller.DetailsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchController</servlet-name>
        <servlet-class>controller.SearchController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToCart</servlet-name>
        <servlet-class>controller.cart.AddToCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListCartController</servlet-name>
        <servlet-class>controller.cart.ListCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PaggingController</servlet-name>
        <servlet-class>controller.PaggingController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCartController</servlet-name>
        <servlet-class>controller.cart.DeleteCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCartController</servlet-name>
        <servlet-class>controller.cart.UpdateCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckOutController</servlet-name>
        <servlet-class>controller.CheckOutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ThanksController</servlet-name>
        <servlet-class>controller.ThanksController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AuthenticationController</servlet-name>
        <servlet-class>controller.Login.AuthenticationController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BaseAuthenticationController</servlet-name>
        <servlet-class>controller.Login.BaseAuthenticationController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignUpController</servlet-name>
        <servlet-class>controller.Login.SignUpController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogOutController</servlet-name>
        <servlet-class>controller.Login.LogOutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagerController</servlet-name>
        <servlet-class>controller.Manager.ManagerProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteProductController</servlet-name>
        <servlet-class>controller.Manager.DeleteProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertProductController</servlet-name>
        <servlet-class>controller.Manager.InsertProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProductController</servlet-name>
        <servlet-class>controller.Manager.UpdateProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchProductByPrice</servlet-name>
        <servlet-class>controller.SearchProductByPriceController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagerOrderDetailsController</servlet-name>
        <servlet-class>controller.Manager.ManagerOrderDetailsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteOrderDetailController</servlet-name>
        <servlet-class>controller.Manager.DeleteOrderDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagerOrderController</servlet-name>
        <servlet-class>controller.Manager.ManagerOrderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteOrderController</servlet-name>
        <servlet-class>controller.Manager.DeleteOrderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagerShippingController</servlet-name>
        <servlet-class>controller.Manager.ManagerShippingController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteShippingController</servlet-name>
        <servlet-class>controller.Manager.DeleteShippingController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagerCategoryController</servlet-name>
        <servlet-class>controller.Manager.ManagerCategoryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertCategoryController</servlet-name>
        <servlet-class>controller.Manager.InsertCategoryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCategoryController</servlet-name>
        <servlet-class>controller.Manager.DeleteCategoryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCategoryController</servlet-name>
        <servlet-class>controller.Manager.UpdateCategoryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagerAccountController</servlet-name>
        <servlet-class>controller.Manager.ManagerAccountController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SortDescByPriceController</servlet-name>
        <servlet-class>controller.SortDescByPriceController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SortAscByPriceController</servlet-name>
        <servlet-class>controller.SortAscByPriceController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HomeController</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailsController</servlet-name>
        <url-pattern>/details</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchController</servlet-name>
        <url-pattern>/search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToCart</servlet-name>
        <url-pattern>/addcart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListCartController</servlet-name>
        <url-pattern>/listcart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PaggingController</servlet-name>
        <url-pattern>/pagging</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCartController</servlet-name>
        <url-pattern>/delete-cart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCartController</servlet-name>
        <url-pattern>/update-cart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckOutController</servlet-name>
        <url-pattern>/checkout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ThanksController</servlet-name>
        <url-pattern>/Thanks</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AuthenticationController</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BaseAuthenticationController</servlet-name>
        <url-pattern>/BaseAuthenticationController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignUpController</servlet-name>
        <url-pattern>/signup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogOutController</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagerController</servlet-name>
        <url-pattern>/manager</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteProductController</servlet-name>
        <url-pattern>/deleteproduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertProductController</servlet-name>
        <url-pattern>/addproduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProductController</servlet-name>
        <url-pattern>/editproduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchProductByPrice</servlet-name>
        <url-pattern>/searchprice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagerOrderDetailsController</servlet-name>
        <url-pattern>/managerorderdetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteOrderDetailController</servlet-name>
        <url-pattern>/deleteorderdetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagerOrderController</servlet-name>
        <url-pattern>/managerorder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteOrderController</servlet-name>
        <url-pattern>/deleteorder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagerShippingController</servlet-name>
        <url-pattern>/managershipping</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteShippingController</servlet-name>
        <url-pattern>/deleteshipping</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagerCategoryController</servlet-name>
        <url-pattern>/managercategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertCategoryController</servlet-name>
        <url-pattern>/insertcategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCategoryController</servlet-name>
        <url-pattern>/deletecategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCategoryController</servlet-name>
        <url-pattern>/updatecategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagerAccountController</servlet-name>
        <url-pattern>/manageraccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SortDescByPriceController</servlet-name>
        <url-pattern>/sortdesc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SortAscByPriceController</servlet-name>
        <url-pattern>/sortasc</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
